<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings version="1">
  <section id="plugin.image.immich">
    <category id="account" label="30100" help="">
      <group id="1">
        <setting id="server_url" type="string" label="30101" help="30102">
          <level>0</level>
          <default></default>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <control type="edit" format="string">
            <heading>30101</heading>
          </control>
        </setting>
        <setting id="api_key" type="string" label="30105" help="30106">
          <level>0</level>
          <default></default>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <control type="edit" format="string">
            <heading>30105</heading>
            <hidden>true</hidden>
          </control>
        </setting>
        <setting id="signout" type="action" label="30107" help="">
          <level>0</level>
          <data>RunPlugin(plugin://plugin.image.immich/?action=signout)</data>
          <control type="button" format="action">
            <close>true</close>
          </control>
        </setting>
        <setting id="username" type="string" label="30108" help="">
          <level>0</level>
          <default></default>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <control type="edit" format="string">
            <heading>30108</heading>
          </control>
          <enable>false</enable>
        </setting>
      </group>
      <group id="2">
        <setting id="key_check" type="string" label="" help="">
          <level>4</level>
          <default></default>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <control type="edit" format="string">
            <heading></heading>
          </control>
          <visible>false</visible>
        </setting>
      </group>
    </category>
    <category id="slideshow" label="30200" help="">
      <group id="1">
        <setting id="slide_time" type="integer" label="30201" help="">
          <level>0</level>
          <default>5</default>
          <constraints>
            <minimum>2</minimum>
            <step>1</step>
            <maximum>60</maximum>
          </constraints>
          <control type="slider" format="integer">
            <popup>false</popup>
            <formatlabel>30202</formatlabel>
          </control>
        </setting>
        <setting id="fade_time" type="number" label="30203" help="">
          <level>0</level>
          <default>1.5</default>
          <constraints>
            <minimum>0.5</minimum>
            <step>0.5</step>
            <maximum>5</maximum>
          </constraints>
          <control type="slider" format="number">
            <popup>false</popup>
            <formatlabel>30204</formatlabel>
          </control>
        </setting>
        <setting id="kenburns" type="boolean" label="30205" help="30206">
          <level>0</level>
          <default>true</default>
          <control type="toggle"/>
        </setting>
        <setting id="zoom" type="integer" label="30207" help="">
          <level>1</level>
          <default>105</default>
          <constraints>
            <minimum>101</minimum>
            <step>1</step>
            <maximum>110</maximum>
          </constraints>
          <dependencies>
            <dependency type="enable" setting="kenburns">true</dependency>
          </dependencies>
          <control type="slider" format="integer">
            <popup>false</popup>
            <formatlabel>30208</formatlabel>
          </control>
        </setting>
        <setting id="smooth_zoom" type="boolean" label="30218" help="30219">
          <level>1</level>
          <default>false</default>
          <dependencies>
            <dependency type="enable" setting="kenburns">true</dependency>
          </dependencies>
          <control type="toggle"/>
        </setting>
        <setting id="photo_order" type="integer" label="30220" help="30223">
          <level>0</level>
          <default>0</default>
          <constraints>
            <options>
              <option label="30221">0</option>
              <option label="30222">1</option>
            </options>
          </constraints>
          <control type="list" format="string"/>
        </setting>
        <setting id="shuffle" type="boolean" label="30209" help="">
          <level>0</level>
          <default>false</default>
          <control type="toggle"/>
        </setting>
        <setting id="videos" type="boolean" label="30210" help="">
          <level>0</level>
          <default>true</default>
          <control type="toggle"/>
        </setting>
      </group>
      <group id="2">
        <setting id="captions" type="boolean" label="30211" help="30212">
          <level>0</level>
          <default>true</default>
          <control type="toggle"/>
        </setting>
        <setting id="clock" type="boolean" label="30213" help="">
          <level>0</level>
          <default>false</default>
          <control type="toggle"/>
        </setting>
        <setting id="viewer" type="boolean" label="30214" help="30215">
          <level>0</level>
          <default>true</default>
          <control type="toggle"/>
        </setting>
        <setting id="hires" type="boolean" label="30216" help="30217">
          <level>0</level>
          <default>false</default>
          <control type="toggle"/>
        </setting>
      </group>
    </category>
    <category id="screensaver" label="30400" help="">
      <group id="1">
        <setting id="screensaver_source" type="integer" label="30401" help="30405">
          <level>0</level>
          <default>0</default>
          <constraints>
            <options>
              <option label="30402">0</option>
              <option label="30403">1</option>
              <option label="30404">2</option>
              <option label="30406">3</option>
              <option label="30001">4</option>
              <option label="30412">5</option>
            </options>
          </constraints>
          <control type="list" format="string"/>
        </setting>
        <setting id="screensaver_query" type="string" label="30407" help="30408">
          <level>0</level>
          <default></default>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <dependencies>
            <dependency type="visible" setting="screensaver_source">3</dependency>
          </dependencies>
          <control type="edit" format="string">
            <heading>30407</heading>
          </control>
        </setting>
        <setting id="screensaver_pick_albums" type="action" label="30409" help="30410">
          <level>0</level>
          <data>RunPlugin(plugin://plugin.image.immich/?action=screensaver_albums)</data>
          <dependencies>
            <dependency type="visible" setting="screensaver_source">4</dependency>
          </dependencies>
          <control type="button" format="action">
            <close>true</close>
          </control>
        </setting>
        <setting id="screensaver_album_names" type="string" label="30411" help="">
          <level>0</level>
          <default></default>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <dependencies>
            <dependency type="visible" setting="screensaver_source">4</dependency>
          </dependencies>
          <control type="edit" format="string">
            <heading>30411</heading>
          </control>
          <enable>false</enable>
        </setting>
        <setting id="screensaver_albums" type="string" label="" help="">
          <level>4</level>
          <default></default>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <control type="edit" format="string">
            <heading></heading>
          </control>
          <visible>false</visible>
        </setting>
      </group>
    </category>
    <category id="browsing" label="30300" help="">
      <group id="1">
        <setting id="page_size" type="integer" label="30301" help="30302">
          <level>1</level>
          <default>500</default>
          <constraints>
            <minimum>100</minimum>
            <step>100</step>
            <maximum>1000</maximum>
          </constraints>
          <control type="slider" format="integer">
            <popup>false</popup>
          </control>
        </setting>
        <setting id="tiles" type="boolean" label="30303" help="30304">
          <level>0</level>
          <default>true</default>
          <control type="toggle"/>
        </setting>
      </group>
    </category>
  </section>
</settings>
