<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings version="1">
  <section id="plugin.image.immich">
    <category id="account" label="30100" help="">
      <group id="1">
        <setting id="server_url" type="string" label="30101" help="30102">
          <level>0</level>
          <default></default>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <control type="edit" format="string">
            <heading>30101</heading>
          </control>
        </setting>
        <setting id="signin" type="action" label="30103" help="30104">
          <level>0</level>
          <data>RunPlugin(plugin://plugin.image.immich/?action=signin)</data>
          <control type="button" format="action">
            <close>true</close>
          </control>
        </setting>
        <setting id="enter_key" type="action" label="30105" help="30106">
          <level>0</level>
          <data>RunPlugin(plugin://plugin.image.immich/?action=enter_key)</data>
          <control type="button" format="action">
            <close>true</close>
          </control>
        </setting>
        <setting id="signout" type="action" label="30107" help="">
          <level>0</level>
          <data>RunPlugin(plugin://plugin.image.immich/?action=signout)</data>
          <control type="button" format="action">
            <close>true</close>
          </control>
        </setting>
        <setting id="username" type="string" label="30108" help="">
          <level>0</level>
          <default></default>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <control type="edit" format="string">
            <heading>30108</heading>
          </control>
          <enable>false</enable>
        </setting>
      </group>
      <group id="2">
        <setting id="api_key" type="string" label="" help="">
          <level>4</level>
          <default></default>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <control type="edit" format="string">
            <heading></heading>
            <hidden>true</hidden>
          </control>
          <visible>false</visible>
        </setting>
      </group>
    </category>
    <category id="advanced" label="30500" help="">
      <group id="1">
        <setting id="debug" type="boolean" label="30501" help="">
          <level>2</level>
          <default>false</default>
          <control type="toggle"/>
        </setting>
      </group>
    </category>
  </section>
</settings>
